#reload_application:hover{
  background-color: #dddddd;
  color: #000000;
}

#reload_application {
  position: fixed;
  right: 2%;
  top: 1%;
  border: 1px solid #ddd;
  border-top: 5px solid black;
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
  color: #777777;
  border: 1px solid #ddd;
  z-index: 2;
}
